<?xml version="1.0"?>
<config>
  <modules>
    <S3Now_CustomORM>
      <version>0.1.0</version>
    </S3Now_CustomORM>
  </modules>
  <frontend>
    <routers>
      <customorm>
        <use>standard</use>
          <args>
            <module>S3Now_CustomORM</module>
            <frontName>customorm</frontName>
          </args>
      </customorm>
    </routers>
		<layout>
		  <updates>
			<customorm>
			  <file>customorm.xml</file>
			</customorm>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <customorm>
        <class>S3Now_CustomORM_Helper</class>
      </customorm>
    </helpers>
	<blocks>
	  <customorm>
		<class>S3Now_CustomORM_Block</class>
	  </customorm>
	</blocks>
	<models>
	  <customorm>
		<class>S3Now_CustomORM_Model</class>
	  </customorm>
	</models>
	<resources>
	  <customorm_setup>
		<setup>
		  <module>S3Now_CustomORM</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customorm_setup>
	  <customorm_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customorm_write>
	  <customorm_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customorm_read>
	</resources>
  </global>
</config> 
